# Pycharm
.idea/

# Python
*.py[cod]

# VEnv
.venv/
Scripts/
pyvenv.cfg

# Django
__pycache__
*.sqlite3

# Project
*.rtf
goals_project/secret.py

# goals_app
goals_app/icons
goals_app/images
goals_app/*[.mdj, .xd]
goals_app/debug*

# Packaging
Lib/